.Container {
    display: flex;
    justify-content: space-between;  
    align-items: flex-start;        
    gap: 40px;
    padding: 20px;
}

.RenderActualData {
    flex: 3;   
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.CartData {
    flex: 1;   
    min-width: 250px;
}

.PaginationDiv{
    display: flex; 
    align-items: center; 
    justify-content: center; 
    gap: 5px
}

.RenderActualData{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 20px;
}